﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOpen.cshtml";
}
<div class="row">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-1">
                <div class="jumbotron"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-3">
                <div class="jumbotron"></div>
            </div>
            <div class="col-lg-9">
                <div class="jumbotron"></div>
            </div>
        </div>
    </div>
</div>

