﻿@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script src="~/js/OpenManager/index.js"></script>
}

<div class="messaging">
<div class="inbox_msg">
    <div class="inbox_people">
        <div class="headind_srch">
            <div class="recent_heading">
                <h4>Подписки</h4>
            </div>
        </div>
        <div class="inbox_chat">
        </div>
    </div>
    <div class="mesgs">
        <div id="MessagesHistory" class="msg_history">
        </div>
    </div>
</div>
</div>